.cardBody{
    background-color: #FFFFFF;
    border-radius: 25px;

    width: 400px;
    height: 475px;

    margin: 0 auto;
    z-index: 1;
}

.cardType{
    margin-top: 45px;
}
.cardPrice{
    margin-top: 20px;
    font-size: 65px;
}
.description{
    margin-top: 25px;
}

.descriptionItem{
    width: 300px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    border-top: 1px solid grey;
}

.descriptionItem:last-child{
    border-bottom: 1px solid grey;
}

.button{
    margin: 20px auto 0 auto;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #a186db;
    color: #fff;
    padding: 10px 15px;
    width: 285px;
    border: 1px solid #a186db;
    border-radius: 10px;
    transition: 0.3s;
}

.button:hover{
    background-color: #fff;
    color: #a186db;
    opacity: 0.5;
}