.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(240, 78%, 98%);

  height: 100vh;
}

.appHeader{
  text-align: center;
}
.headerText{
  font-size: 35px;
  padding-top: 100px;
}

.backImage{
  position: absolute;
  z-index: 0;
}

.backImage:first-child{
  bottom: 0;
  left: 0;
}

.backImage:nth-child(2){
  right: 0;
  top: 0;
}

.switchBlock{
  max-width: 300px;
  margin: 25px auto;
}

.cardsBody{
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 70px auto 0 auto;
}